body{
text-align:center;
height:100vh;
display:flex;
flex-direction:column;  
justify-content:center;
align-items:center;

/* FIX image */
background-image: url("../image/background.png.png");
background-size: 200% 200%; 
background-repeat: no-repeat;
background-position: center; 

animation: moveBg 10s infinite alternate;

padding: 20px;
}

/* animation */
@keyframes moveBg{
0%{background-position:left;}
100%{background-position:right;}
}

/* INPUT */
input{
padding:12px;
font-size:16px;
border-radius:7px;
width: 90%;              /* ✅ ajout */
max-width: 300px;        /* ✅ limite */
margin-bottom: 10px;
}

/* TITRE */
h1{
margin-bottom:40px;
color: rgb(7, 4, 7);
}

/* BOUTONS */
button{
padding:10px;
font-size:15px;
cursor:pointer;
margin-top:15px;
border-radius:7px;
width: 90%;              /* ✅ mobile friendly */
max-width: 200px;
}

/* METEO CARD */
#meteo{
margin-top:40px;
background:rgba(255,255,255,0.8); /* ✅ plus lisible */
padding:20px;
border-radius:10px;

width: 90%;              /* ✅ RESPONSIVE */
max-width: 350px;        /* ✅ limite desktop */

font-weight:600;
}

/* ICON */
#Icon{
border-radius:9px;
border:1px solid;
color: rgb(154, 229, 204);
}


   /* MOBILE  */
@media (max-width:600px){

h1{
font-size:20px;
}

input{
width:100%;
font-size:18px;
}

button{
width:100%;
font-size:18px;
}

#meteo{
width:100%;
}

}